#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.5rem;
}

.mainWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 1.5rem;
}

.circle {
	background-color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.main {
	width: calc(100% - 200px);
	height: 150px;
	max-width: 1500px;
	height: 200px;
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: left;
	color: white;
	border-radius: 15px;
	padding: 2rem 1rem;
	gap: 10px;
	background: linear-gradient(87deg, #367bfa 16.08%, #25bff6 91.41%);

	> div:first-child {
		margin-left: 1rem;
	}
}

.back {
	text-align: start;
}

.main h1 {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 0.5rem;
	margin-top: 0px;
}

.main h2 {
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 40px;
}

.cardWrapper {
	max-width: 1500px;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
	width: 100%;
}

.card {
	height: 150px;
	min-width: 280px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	padding: 1rem;
	margin-bottom: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.05);
	font-size: 30px;
	transition: all 0.5s;
	cursor: pointer;
	box-shadow: 0 0 50px #00000005;
	> p:nth-child(2) {
		font-size: 20px;
		color: #ddd;
	}
	&:hover {
		box-shadow: 0 0 50px #00000010;
		transform: translateY(-2px) scale(1.01);
	}
	&.pin {
		height: calc(155px + 1rem);
		> .titleWrapper {
			padding-top: calc(5px + 2rem);
		}
		&::before {
			content: "고정됨";
			background-image: url("../img/pin.svg");
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			position: absolute;
			background: linear-gradient(90deg, #367bfa 0.99%, #bb36fa 100%);
			color: #fff;
			min-width: 280px;
			padding: 1rem;
			transform: translateX(-1rem) translateY(-1rem);
			height: 5px;
			border-radius: 15px 15px 0 0;
		}
	}
}

.titleWrapper {
	display: flex;
	align-items: center;
	gap: 7px;
}

.iconWrapper {
	background-color: #367bfa;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;

	> img {
		width: 35px;
	}
}
