@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");

:root {
	--color-background: #fff;
	--color-highlight: #4b67ec;
	--color-text: #000;
	--font: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	
	-webkit-touch-callout: none !important;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none !important;
	-webkit-user-drag: none !important;
	-webkit-tap-highlight-color: transparent;
	
	font-family: var(--font);}

html,
body {
	-ms-overflow-style: none;
	scrollbar-width: none;

	background-color: var(--color-background);
	color: var(--color-text);
	font-size: 16px;
}

#app {
	display: flex;
	flex-direction: column;
}

.pointer {
	cursor: pointer;
}
